name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch: { }

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6
        name: Docker Build only
        with:
          push: false
          tags: ghcr.io/${{ github.repository }}:${{ github.run_number }}
